# python
*.pyc

# pyreverse build directory
_pyreverse

# pytest
.cache
*-tests.xml

# coverage
.coverage
htmlcov

# tox
.tox

# distutils
pyblk.egg-info

# hypothesis
.hypothesis

# sphinx
doc/_build
doc/pyblk
doc/tests

# vim
*.swp

# archive
*.tar.gz

# junk files
junk.*
